<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザー新規登録</h2>
      <div style="background-image:url(/images/sea.png)" />
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

        <div class="field">
          <%= f.label :nickname, "ニックネーム" %><br />
          <%= f.text_field :nickname %>
        </div>

        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード（6文字以上）" %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード再入力" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :keep_pet, "飼っているペット" %><br />
          <%= f.text_area :keep_pet, class: :form__text %>
        </div>

        <div class="field">
          <%= f.label :number_of_pets, "飼っているペットの匹数" %><br />
          <%= f.text_area :number_of_pets, class: :form__text %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
