<%= render "shared/header" %>
<div class='main'>
  <div class='title-contents'>
    <p class='main-title'>
      ペットが大好きなあなたへ
    </p>
    <p class='sub-title'>
      PetWithはだれでも簡単にペットの画像を投稿できる
    </p>
    <p class='third-titile'>
      憩いの場です
    </p>
    <div class='main-image'>
      <%= image_tag asset_path("main_dog", class:"main-dog") %>
    </div>
  </div>

  <div class='select-animal-contents'>
    <h2 class='title-one'>こちらから画像を投稿する</h2>
    <ul class='animal-lists'>
      <li class='list'>
        <%= link_to image_tag("dog-icon.jpg", class:"icon-pic"), new_dog_path, method: :get %>
        <h3 class='animal-list-text'>
          <span class='list-letter'>犬のシルエットをクリック</span>
        <p class='list-description'>
          愛犬の無邪気な写真をたくさんUpしましょう
          <br>そして癒されましょう<br>
        </p>
      </li>
      <li class='list'>
        <%= link_to image_tag("chat-icon.png", class:"icon-pic1"), new_message_path, method: :get %>
        <h3 class='animal-list-text'>
          <span class='list-letter'>chatアイコンをクリック</span>
        <p class='list-description'>
          お互いのペットの事で気になる事やその他
          <br>情報交換をする場です<br>
        </p>
      </li>
      <li class='list'>
        <%= link_to image_tag("cat-icon.jpg", class:"icon-pic"), new_cat_path, method: :get %>
        <h3 class='animal-list-text'>
          <span class='list-letter'>猫のシルエットをクリック</span>
        </h3>
        <p class='list-description1'>
          愛猫の自由気ままな写真をたくさんUpしましょう
          <br>そして癒されましょう<br>
        </p>
      </li>
    </ul>
  </div>
  <div class="under-description">
        <p>マイページ or 下の犬・猫をクリックして画像を見にいこう</p>
    </div>
</div>
<%= render "shared/footer" %>