<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報" %>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">ニックネーム</th>
            <td class="table__col2"><%= "#{@user.nickname}" %></td>
          </tr>
          <tr>
            <th class="table__col1">飼っているペット</th>
            <td class="table__col2"><%= "#{@user.keep_pet}" %></td>
          </tr>
          <tr>
            <th class="table__col1">飼っているペットの匹数</th>
            <td class="table__col2"><%= "#{@user.number_of_pets}" %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to image_tag('button-icon2.png', size: '130x90'), "/" %>
      </div>
    </div>
  </div>
</div>