<footer id="footer01" class="footer outer-block">
  <p class="toTop">Top Pageへ</p>
  <ul class="nav">
    <li><a href="#">プロフィール</a></li>
    <li><a href="https://qiita.com/">Qiita</a></li>
    <li><a href="#">概要</a></li>
    <li><a href="#">お問い合わせ</a></li>
  </ul>
  <%= link_to image_tag("cat.png", class:"logo1"), "#" %>
  <%= link_to image_tag("dog.png", class:"logo2"), dogs_path %>
  <%= link_to image_tag("cat.png", class:"logo3"), "#" %>
  <%= link_to image_tag("dog.png", class:"logo4"), "#" %>
  <%= link_to image_tag("cat.png", class:"logo5"), "#" %>
  <%= link_to image_tag("dog.png", class:"logo6"), "#" %>
  <div class="copyright">
    <p> @PetWith 2021</p>
  </div> 
</footer>