<h2>Ajax</h2>
  <%= form_with url: chats_path, method: :chat,id: "form" do |form| %>
  <%= form.text_field :text , id: "text" %>
  <%= form.submit '投稿する' , id: "submit" %>
<% end %>

<div id="list">
</div>

<% @chats.each do |chat| %>
  <div class="chat" data-id=<%= chat.id %> data-check=<%= chat.checked %>>
    <div class="chat-date">
      投稿日時：<%= chat.created_at %>
    </div>
    <div class="chat-text">
      <%= chat.text %>
    </div>
  </div>
<% end %>