<div class='dog-title-contents'>
  <p class='dog-main-title'>
    <%= link_to 'メイントップへ', pets_path, method: :get, class: "dog-sub-title" %>
  </p>
  <p class='cat-sub-title'>
    にゃんこを見て癒されよう
  </p>

  <div class='photo-contents'>
    <h2 class='cat-title'>みんなのにゃんこ投稿広場</h2>
    <%= link_to '新規投稿写真', "#", class: "subtitle" %>
    <ul class='item-lists'>
    
      <% @cats.each do |cat| %>
      <li class='list'>
        <%= link_to cat_path(cat.id), method: :get do %>
        <div class='pet-img-content'>
          <%= image_tag cat.image, class: "dog-img" %>
        </div>
        <div class='dog-info'>
          <h3 class='dog-name'>
            <%= cat.pet_name %>
          </h3>
          <div class='dog-age'>
            <span><%= cat.age.name %><%= cat.sex.name %></span>
            <div class='nice-btn'>
              <%= image_tag "nice.png", class:"nice-icon" %>
              <span class='nice-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>

      <% if @cats.length == 0 %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "cat-fot3", class: "dog-img" %>
        <div class='dog-info'>
          <h3 class='pet-name'>
            画像を投稿しよう！
          </h3>
          <div class='dog-name'>
            <span>ぽんず</span>
            <div class='nice-btn'>
              <%= image_tag "nice.png", class:"nice-icon" %>
              <span class='nice-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
    <p class="toTop">Top Pageへ</p>
    <footer class="footer">
      <p class="copyright"> @2021 PetWith </p>
    </footer>
  </div>
</div>
